html,
body,
#root {
  min-height: 100%;
  margin: 0;
}

body {
  background-image: url('/images/main-image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'MountainKing', serif;
}

.app {
  min-height: 100vh;
}
